.bg-gradient-dam {
    background-color: #4e73df;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #4e73df), to(#224abe));
    background-image: linear-gradient(180deg, #db3434e7 10%, #314680 100%);
    background-size: cover;
  }