h1,
h6,
h2,
h4,
h3,
h5 {
    color: #0b486b;
}

.mag {
    color: #0b486b;
}

.hijau {
    color: #3CFB08;
}

h3,
h6 {
    color: black;
}
.pilk{
    color: #a8dba8;
}

.bg-black_c {
    background-color: #a8dba8 !important;
}
.bg-black_ch {
    background-color: #0b486b !important;
}
.bg-cb {
    background-color: #0b486b !important;
}

.bg-c {
    background-color: #cff09e !important;
}

.bg-hijau_c {
    background-color: black !important;
}