
h1,h6,h2,h4,h3,h5 {
    color: #3CFB08 ;}
.hijau{
    color: #3CFB08;
}
h3,h6 {
    color:black;
}


.bg-black_c {
    background-color: #FF5A5A !important;
}
.bg-c {
    background-color: #FCDADA  !important;
}
.bg-hijau_c{
    background-color: black    !important;
}

